.searchit {
    padding: 20px;
    input {
        padding: .5rem 1rem;
        border-radius: 4px;
        font-family: inherit;
        font-size: 1rem;
        border: none;
        outline-color: #a058a7;
    }
}